.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ConversionDisplay {
  position: relative;
  width: 400px;
  margin: 30px auto;
  padding: 10px 0 20px 0;
  box-shadow: 0 0 3px 3px #ccc;
  border-radius: 10px;
}

.CurrencyAmount {
  width: 180px;
  height: 24px;
  padding: 8px 15px;
  font-size: 1.2em;
  background: #eee;
  border: 0;
  border-radius: 8px 0 0 8px;
}

.CurrencySelector {
  display: inline-block;
  width: 80px;
  height: 24px;
  padding: 8px 12px;
  font-size: 1.2em;
  background: #ddd;
  border-radius: 0 8px 8px 0;
}

.CurrencySelector.clickable {
  cursor: pointer;
}

.CurrencySelector.clickable::after {
  position: relative;
  top: -1px;
  content: "▼";
  padding-left: 6px;
  font-size: 0.8em;
}

#TokenSelector {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  background: white;
  overflow: hidden;
}

#TokenSelector h3 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc
}

.TokenOption {
  display: block;
  padding: 10px;
  background: white;
}

.TokenOption:hover {
  background: #eee;
  cursor: pointer;
}
